#! /usr/bin/env sh
{{- if eq .chezmoi.os "darwin" }}
echo "Updating brew"
brew update
echo "Installing deno"
HOMEBREW_NO_AUTO_UPDATE=1 brew install deno
echo "Installing KeePassXC"
HOMEBREW_NO_AUTO_UPDATE=1 brew install --cask keepassxc
echo "Installing R"
HOMEBREW_NO_AUTO_UPDATE=1 brew install r
echo "Installing R studio"
HOMEBREW_NO_AUTO_UPDATE=1 brew install --cask rstudio
echo "Installing Micro"
HOMEBREW_NO_AUTO_UPDATE=1 brew install micro
echo "Installing Restic"
HOMEBREW_NO_AUTO_UPDATE=1 brew install restic
echo "Installing Sass"
HOMEBREW_NO_AUTO_UPDATE=1 brew install sass/sass/sass
echo "Installing starship"
HOMEBREW_NO_AUTO_UPDATE=1 brew install starship
echo "Installing Syncthing"
HOMEBREW_NO_AUTO_UPDATE=1  brew install syncthing
{{- end }}

# common install
echo "Installing jbang"
curl -Ls https://sh.jbang.dev | bash -s - app setup